// Catppuccin Mocha palette
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

.bar {
  background-color: $base;
  color: $text;
  font-family: "FiraCode Nerd Font";
  font-size: 11px;
  padding: 0 8px;
  border-bottom: 1px solid $lavender;
}

.left, .center, .right {
  padding: 0 5px;
}

.workspaces button {
  background: $surface0;
  border-radius: 4px;
  padding: 2px 8px;
  margin: 0 2px;
  color: $subtext0;
  &:hover {
    background: $surface1;
  }
  &.focused {
    background: $mauve;
    color: $base;
  }
}

.cpu, .ram, .battery, .network, .weather {
  padding: 0 8px;
  margin: 0 2px;
  background: $surface0;
  border-radius: 6px;
}

.power-btn {
  padding: 0 8px;
  background: $surface0;
  border-radius: 6px;
  color: $peach;
}


.systray {
  background-color: #313244;
  border-radius: 6px;
  padding: 2px 6px;
  margin: 0 4px;
}

.systray button {
  padding: 2px;
  margin: 0 2px;
  background: transparent;
  border: none;
}

.systray button:hover {
  background: #45475a;
  border-radius: 4px;
}
