
*.font: xft:trigon:style=Regular:size=12


! -----------------------------------------------------------------------------
! File: gruvbox-dark.xresources
! Description: Retro groove colorscheme generalized
! Author: morhetz <morhetz@gmail.com>
! Source: https://github.com/morhetz/gruvbox-generalized
! Last Modified: 6 Sep 2014
! -----------------------------------------------------------------------------

! Cyberpunk Neon Colorscheme for URxvt
! Define foreground, background, and cursor colors
URxvt*foreground: #00ffff
URxvt*background: #11001c
URxvt*cursorColor: #ff00ff

! Define the 16 base colors
! Black (standard and bright)
URxvt*color0: #000000
URxvt*color8: #1f1f1f

! Red (standard and bright)
URxvt*color1: #ff005c
URxvt*color9: #ff4a9e

! Green (standard and bright)
URxvt*color2: #00e8c0
URxvt*color10: #42ffd1

! Yellow (standard and bright)
URxvt*color3: #fff122
URxvt*color11: #fff892

! Blue (standard and bright)
URxvt*color4: #0000ff
URxvt*color12: #00ffff

! Magenta (standard and bright)
URxvt*color5: #ff00ff
URxvt*color13: #ff60ff

! Cyan (standard and bright)
URxvt*color6: #00ffff
URxvt*color14: #60ffff

! White (standard and bright)
URxvt*color7: #c3c3c3
URxvt*color15: #ffffff


Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault


!URxvt.termname: xterm-256color
URxvt.iconFile: /usr/share/icons/Papirus/48x48/apps/urxvt.svg
URxvt.geometry: 84x22
URxvt.internalBorder: 15
URxvt.letterSpace: 0
URxvt.antialias: true
URxvt.pointerBlank: true
URxvt.saveLines:    7000
URxvt.scrollBar:    false
URxvt.cursorBlink:  true
URxvt.urgentOnBell: true
URxvt.scrollTtyOutput: true
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true
URxvt.depth: 32
URxvt.iso14755:        false
URxvt.iso14755_52:     false
urxvt*transparent: true
urxvt*shading: 30

URxvt.perl-ext-common: default,matcher,clipboard,keyboard-select,url-select
URxvt.url-launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.matcher.button: 1
URxvt.keysym.C-u: perl:url-select:select_next

URxvt.keysym.C-Escape: perl:keyboard-select:activate
URxvt.keysym.C-/: perl:keyboard-select:search

URxvt.clipboard.autocopy: true
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

! ctrl + arrows
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
