layout {
    gaps 3
    center-focused-column "on-overflow"
    always-center-single-column
    background-color "#181E2B"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.5; }

    preset-window-heights {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
        width 3
        active-color "#E9A929"       // Retro Vibes gold/yellow
        inactive-color "#242C3E"     // Inactive border/panel color
        urgent-color "#aa0f36"       // Theme error color
        active-gradient from="#E9A929" to="#0088ff" angle=45  // Gold -> Blue
    }

    border {
        on
        width 3
        active-color "#E9A929"       // Retro Vibes gold/yellow
        inactive-color "#242C3E"     // Inactive border/panel color
        urgent-color "#aa0f36"       // Theme error color
        active-gradient from="#E9A929" to="#0088ff" angle=45
    }

    shadow {
        off
        softness 30
        spread 4
        offset x=0 y=4
        draw-behind-window true
        color "#0059ff40"            // Theme widget shadow color
    }

    tab-indicator {
        on
        hide-when-single-tab
        place-within-column
        gap 4
        width 4
        length total-proportion=1.0
        position "left"
        gaps-between-tabs 2
        corner-radius 8
        active-color "#E9A929"       // Retro Vibes gold/yellow
        inactive-color "#242C3E"
        urgent-color "#aa0f36"
        active-gradient from="#E9A929" to="#0088ff" angle=45
    }

    insert-hint {
        on
        color "#E9A92980"            // Retro Vibes gold w/ alpha
    }

    struts {
    }
}
