[Desktop Entry]
Name=GameHub (jammy-0.16.3-6-dev-0e3146a)
GenericName=GameHub
Comment[pt_BR]=Todos os seus jogos em um só lugar
Comment[pt_PT]=Todos os seus jogos num só lugar
Comment[id]=Semua permainan Anda di satu tempat
Comment[nb_NO]=Alle dine spill på ett sted
Comment[nl]=Al je spellen op één plek
Comment[de]=Alle deine Spiele an einem Ort
Comment[fr]=Tous vos jeux en un endroit
Comment[pl]=Wszystkie twoje gry w jednym miejscu
Comment[tr]=Tüm oyunlarınızı tek bir yerde
Comment[fa]=همه بازی های شما در یک مکان
Comment[ar]=كل ألعابك في مكان واحد
Comment[ca]=Tots els teus jocs en un lloc
Comment[fi]=Kaikki pelisi yhdessä paikassa
Comment[es_MX]=Todos tus juegos en un solo lugar
Comment[it]=Tutti i tuoi giochi in un unico posto
Comment[zh_CN]=将您所有的游戏都整合到同一个地方
Comment[hr]=Sve vaše igre na jednom mjestu
Comment[es]=Todos sus juegos en un solo lugar
Comment[pt]=Todos os seus jogos num só lugar
Comment[eo]=Ĉiuj viaj ludoj en unu loko
Comment[sv]=Alla dina spel på ett ställe
Comment[ru]=Все игры в одном месте
Comment=All your games in one place
Categories=Game;Amusement;
Keywords=Game;Hub;Steam;GOG;Humble;HumbleBundle;
Exec=/home/kyle/Games/AppImages/GameHub-jammy-0.16.3-6-dev-0e3146a-x86_64_9e07adce385f087116b8dd079efb4aef.AppImage
X-GNOME-Gettext-Domain=com.github.tkashkin.gamehub
Icon=appimagekit_7701eda64c13f29a96ae7ba135d82e00_com.github.tkashkin.gamehub
Terminal=false
Type=Application
X-AppImage-Version=jammy-0.16.3-6-dev-0e3146a

TryExec=/home/kyle/Games/AppImages/GameHub-jammy-0.16.3-6-dev-0e3146a-x86_64_9e07adce385f087116b8dd079efb4aef.AppImage
X-AppImage-Old-Icon=com.github.tkashkin.gamehub
X-AppImage-Old-Name=GameHub
X-AppImage-Identifier=7701eda64c13f29a96ae7ba135d82e00
Actions=Remove;
X-AppImageLauncher-Version=2.2.0 (git commit 0f91801), built on 2020-09-29 21:36:15 UTC

[Desktop Action Remove]
Name=Remove AppImage from system
Icon=AppImageLauncher
Exec=/opt/appimagelauncher/lib/x86_64-linux-gnu/appimagelauncher/remove "/home/kyle/Games/AppImages/GameHub-jammy-0.16.3-6-dev-0e3146a-x86_64_9e07adce385f087116b8dd079efb4aef.AppImage"
Name[ast]=Desaniciar AppImage del sistema
Name[cs]=Odebrat AppImage ze systému
Name[de]=AppImage vom System entfernen
Name[en]=Remove AppImage from system
Name[es]=Eliminar Appimage del Sistema
Name[fr]=Supprimer l'AppImage du système
Name[it]=Rimuovi AppImage dal sistema
Name[nl]=AppImage deïnstalleren
Name[pl]=Usuń AppImage z systemu
Name[pt]=Remover AppImage do sistema
Name[pt_PT]=Remover AppImage do sistema
Name[ru]=Удалить AppImage из системы
Name[zh_Hans]=从系统中移除 AppImage
