
* {
    font-family: FiraCode Nerd Font;
    font-size: 14px;
}

window#waybar {
    background-color: transparent;
}

#window label {
    background-color: red;
    font-weight: bold;
}

#workspaces {
    margin-top: 5px;
    margin-right: 5px;
    /*
    margin-left: 25px;
    margin-bottom: 10px;
    */
}
#workspaces button{
    color: 	#89b4fa;
    background: #09090F;
    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;
}

#workspaces button.active{
    background: #89b4fa ;
    color: #09090F;
    margin-right: 5px;
    border-radius: 5px;

    background: radial-gradient(circle, rgba(203,166,247,1) 0%, rgba(193,168,247,1) 12%, rgba(249,226,175,1) 19%, rgba(189,169,247,1) 20%, rgba(182,171,247,1) 24%, rgba(198,255,194,1) 36%, rgba(177,172,247,1) 37%, rgba(170,173,248,1) 48%, rgba(255,255,255,1) 52%, rgba(166,174,248,1) 52%, rgba(160,175,248,1) 59%, rgba(148,226,213,1) 66%, rgba(155,176,248,1) 67%, rgba(152,177,248,1) 68%, rgba(205,214,244,1) 77%, rgba(148,178,249,1) 78%, rgba(144,179,250,1) 82%, rgba(180,190,254,1) 83%, rgba(141,179,250,1) 90%, rgba(137,180,250,1) 100%); 
    background-size: 400% 400%;
    color: black;

}

#window,
#memory,
#network,
#wireplumber,
#clock,
#custom-spotify,
#custom-distro-icon,
#battery {
    color:  #d3869b;
    background: #09090F;

    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;
}

#cpu {
    color:  #d3869b;
    background: #09090F;

    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;

}


#custom-distro-icon {
    color:  #d3869b;
    background: #09090F;

    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;
    


}

#clock {
    color: #81A1C1;
    background: #09090F;

    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;

}


#custom-nightlight{
      color:  #d3869b;
      background:   #09090F;
      margin-right: 5px;
      border-radius: 5px;

      box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
      padding: 5px;
      padding-top: 4px;
      padding-bottom: 2px;
      font-weight: bolder;

      margin-top: 5px;

}

#custom-weather{
      color:  #d3869b;
      background:   #09090F;
      margin-right: 5px;
      border-radius: 5px;

      box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
      padding: 5px;
      padding-top: 4px;
      padding-bottom: 2px;
      font-weight: bolder;

      margin-top: 5px;
    

}

#taskbar {
    background: #09090F;
    border: none;
    color: 	#89b4fa;

    margin-right: 10px;
    border-radius: 15px;
    min-width: 45px;

    /*box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;*/
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;
}

#custom-power_btn {
	color: #24283b;
	background-color: #db4b4b;
	border-radius: 5px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 5px 10px;
}

#backlight {
    color:  #d3869b;
    background: #09090F;

    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;

}

#pulseaudio {
    color:  #d3869b;
    background: #09090F;

    margin-right: 5px;
    border-radius: 5px;

    box-shadow: rgba(0, 0, 0, 0.116) 2px 2px 5px 2px;
    padding: 5px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bolder;

    margin-top: 5px;

}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}
