@import "mocha.css";
* {
    /* `otf-font-awesome` and SpaceMono Nerd Font are required to be installed for icons */
    font-family: "SpaceMono Nerd Font";
    font-size: 15px;
}

window#waybar {
    background: transparent;
    border-radius: 7rem;
    color: @mauve;
    border-width: 2px;
    border-style: solid;
    border-color: @mauve;
}


window#waybar.empty #window {
    background-color: transparent;
    padding: 0px;
    border: 0px;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#bluetooth,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
	background-color: transparent;
    padding: 0 10px;
    border-radius: 7rem;
    /*border-width: 2px;
    border-style: solid;
    border-color: @teal;*/
}


#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#bluetooth:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background-color: @mauve;
    color: @brown;
}


#workspaces {
  border-radius: 7rem;
  background-color: transparent;
  /*border-width: 2px;
  border-style: solid;
  border-color: @teal;*/
}

#workspaces button {
  color: @mauve;
  border-radius: 7rem;
}

#workspaces button.active {
  color: @brown;
  background-color: @mauve;
  border-radius: 7rem;
}

#workspaces button:hover {
  color: @brown;
  background-color: @mauve;
  border-radius: 7rem;
}

#custom-arch {
	margin-left: 5px;
    padding: 0 10px;
    font-size: 25px;
    background-color: transparent;
    border-radius: 7rem;
	/*border-width: 2px;
	border-style: solid;
	border-color: @teal;*/
}
#custom-arch:hover {
    background-color: @mauve;
    color: @brown;
}
#custom-power {
    margin-right: 5px;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 7rem;
    /*border-width: 2px;
	border-style: solid;
	border-color: @teal;*/
}
#custom-power:hover {
    background-color: @mauve;
    color: @brown;
}
#custom-mako {
    padding: 0 10px;
    background-color: transparent;
    border-radius: 7rem;
    /*border-width: 2px;
	border-style: solid;
	border-color: @teal;*/
}
#custom-mako:hover {
    background-color: @mauve;
    color: @brown;
}

#window {
  border-radius: 7rem;
  /*border-width: 2px;
  border-style: solid;
  border-color: @teal;
  padding: 0 10px;*/
  background-color: transparent;
  /*color: @teal;*/
}
#window:hover {
    background-color: @mauve;
    color: @brown;
}
#pulseaudio-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#pulseaudio-slider trough {
	min-width: 80px;
	min-height: 5px;
	border-radius: 7rem;
}

#pulseaudio-slider highlight {
	min-height: 10px;
	border-radius: 7rem;
}

#backlight-slider slider {
	min-width: 0px;
	min-height: 0px;
	opacity: 0;
	background-image: none;
	border: none;
	box-shadow: none;
}

#backlight-slider trough {
	min-width: 80px;
	min-height: 10px;
	border-radius: 7rem;
}

#backlight-slider highlight {
	min-width: 10px;
	border-radius: 7rem;
}

#mpris {
	border-radius: 7rem;
	background-color: transparent;
	padding: 0 10px;
	/*border-width: 2px;
	border-style: solid;
	border-color: @teal;*/
}
#mpris:hover {
    background-color: @mauve;
    color: @brown;
}
