* {
  border: none;
  font-family: Maple Mono NF CN;
  font-weight: 900;
  font-size: 18px;
  min-height: 0;
}

window#waybar {
  background: none;
  margin: 0px;
  padding: 0px;
}

tooltip {
  background: rgba(22, 25, 37, 0.9);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  color: #dcd7ba;
}

#language,
#custom-updates,
#custom-weather,
#window,
#taskbar,
#tags,
#workspaces,
#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#cpu,
#temperature,
#backlight,
#network,
#workspaces,
#tray,
#cava,
#keyboard-state,
#custom-notification,
#custom-power {
  background: none;
  padding: 0px 10px;
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#workspaces {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 6px;
  background: rgba(22, 25, 37, 0.9);
}

#workspaces button {
  border: none;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #dcd7ba;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 2px;
  margin-left: 2px;
}

#workspaces button.hidden {
  color: #54546d;
  background-color: transparent;
}

#workspaces button.visible {
  color: #dcd7ba;
}

#workspaces button:hover {
  color: #7e9cd8;
}

#workspaces button.active {
  background-color: #7e9cd8;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 3px;
}

#workspaces button.urgent {
  background-color: #e46876;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 3px;
}

#tags {
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  margin-left: 4px;
  padding-left: 10px;
  padding-right: 6px;
  background: rgba(22, 25, 37, 0.9);
}

#tags button {
  border: none;
  background: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #54546d;
  padding: 1px;
  padding-left: 1px;
  padding-right: 1px;
  margin-right: 4px;
}

#tags button {
  color: #54546d;
}

#tags button:not(.occupied):not(.focused):not(.overview):not(.urgent) {
  font-size: 0;
  min-width: 0;
  min-height: 0;
  margin: -17px;
  padding: 0;
  color: transparent;
  background-color: transparent;
}

#tags button.occupied {
  color: #dcd7ba;
}

#tags button.overview {
  color: #dcd7ba;
}

#tags button:hover {
  color: #7e9cd8;
}

#tags button.focused {
  background-color: #7e9cd8;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 3px;
}

#tags button.urgent {
  background-color: #e46876;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 1px;
  padding-bottom: 0px;
  border-radius: 3px;
}

#tray {
  background: rgba(22, 25, 37, 0.9);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  margin-right: 4px;
  margin-left: 4px;
  padding-right: 8px;
  padding-left: 9px;
  padding-top: 2px;
  color: #dcd7ba;
}

#network {
  background: rgba(22, 25, 37, 0.9);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  margin-right: 4px;
  margin-left: 0px;
  padding-right: 8px;
  padding-left: 9px;
  padding-top: 2px;
  color: #dcd7ba;
}

#workspaces {
  background: rgba(22, 25, 37, 0.9);
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  margin-left: 4px;
  padding-right: 6px;
  padding-left: 4px;
}

#language {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  min-width: 24px;
}

#keyboard-state {
  background: none;
  color: #dcd7ba;
  border: none;
  padding-top: 1px;
}

#custom-updates {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-radius: 0px 4px 4px 0px;
  border-width: 2px;
  border-left: 0px;
  border-style: solid;
  border-color: #727169;
}

#window {
  background: rgba(22, 25, 37, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-radius: 4px;
  margin-left: 0px;
  margin-right: 10px;
  color: #dcd7ba;
}

#taskbar {
  background: rgba(22, 25, 37, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  color: #dcd7ba;
}

#taskbar.empty {
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 10px;
  padding-right: 0px;
  border-radius: 0px;
  border-color: transparent;
  border: none;
  background-color: transparent;
}

#taskbar button {
  margin-right: 3px;
}

#taskbar button.minimized {
  background-color: #957fb8;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

#taskbar button.urgent {
  background-color: #e46876;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

#taskbar button.active {
  background-color: #7e9cd8;
  color: #1f1f28;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 3px;
}

#custom-playerctl {
  background: rgba(22, 25, 37, 0.9);
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 0px;
  border-left: 0px;
  color: #dcd7ba;
}

#cava {
  background: rgba(22, 25, 37, 0.9);
  border-radius: 4px 0px 0px 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  margin-left: 4px;
  color: #dcd7ba;
}

#clock {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 2px;
  border-radius: 4px 0px 0px 4px;
}

#pulseaudio {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 0px;
  margin-left: 0px;
  border-radius: 4px 0px 0px 4px;
}

#cpu {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

#temperature {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 0px;
  border-left: 0px;
  border-radius: 0px;
}

#backlight {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-right: 4px;
}

#battery {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-radius: 0px;
  border-right: 0px;
  border-left: 0px;
}

#custom-weather {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-radius: 4px 0px 0px 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-right: 0px;
  margin-left: 4px;
  padding-right: 7px;
  padding-top: 1px;
}

#custom-notification {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-left: 0px;
  border-right: 0px;
  border-radius: 0px;
  min-width: 18px;
}

#custom-power {
  background: rgba(22, 25, 37, 0.9);
  color: #dcd7ba;
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  border-radius: 0px 4px 4px 0px;
  border-left: 0px;
  margin-left: 0px;
  margin-right: 4px;
  padding-right: 14px;
}

menu {
  border-width: 2px;
  border-style: solid;
  border-color: #727169;
  background: rgba(22, 25, 37, 0.9);
  border-radius: 10px;
}

menuitem:focus label,
menuitem:hover label {
  color: #1f1f28;
  background: #7e9cd8;
}

menuitem:focus,
menuitem:hover {
  background: #7e9cd8;
}