* {
	background-image: none;
}
window {
	background-color: rgba(17, 17, 27, 0.2);
        /*background-color: rgba(0,0,0,0.5);*/
        /*background-color: transparent;*/
}
button {
    color: #cdd6f4;
	background-color: #1e1e2e;
	/*background-color: transparent;*/
	border-style: solid;
	border-width: 2px;
        border-color: #cdd6f4;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, active {
	color: #cba6f7;
	background-color: #585b70;
	border-style: solid;
	border-width: 2px;
        border-color: #cba6f7;
	outline-style: none;
        animation: gradient_f 20s ease-in infinite;
        transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

#lock {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/lock.png"));
}

#lock:focus {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/lock_hover.png"));
}

#lock:active {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/lock_hover.png"));
}

#logout {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/logout.png"));
}

#logout:focus {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/logout_hover.png"));
}

#suspend {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/suspend.png"));
}

#suspend:focus {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/suspend_hover.png"));
}

#hibernate {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/hibernate.png"));
}

#hibernate:focus {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/hibernate_hover.png"));
}

#shutdown {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/shutdown.png"));
}

#shutdown:focus {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/shutdown_hover.png"));
}


#reboot {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/reboot.png"));
}

#reboot:focus {
    background-image: image(url("/home/ron/.config/niri/wlogout/icons/reboot_hover.png"));
}
