[SddmGreeterTheme]
Name=Panacea
Description=Экран входа в стиле динамического острова Panacea
Author=Ensi
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=panacea
Theme-API=2.0
