/*@define-color bg-hover #4c566a;
@define-color theme_selected_bg_color #8fbcbb;*/

window {
margin: 0px;
border: 4px solid #cba6f7;
border-radius: 10px;
/*background-color: #2e3440;*/
background-color: rgba(30, 30, 46, 0.6);
font-family: JetBrainsMono Nerd Font;
font-size: 12px;
}

#input {
margin: 5px;
border: 1px solid #1e1e2e;
color: #a6adc8;
/*background-color: #2e3440;*/
background-color: rgba(30, 30, 46, 0.6);
}

#input image {
	color: #a6adc8;
}

#input:focus image {
  color: #6c7086;
}

#inner-box {
margin: 5px;
border: none;
/*background-color: #2e3440;*/
background-color: rgba(30, 30, 46, 0.6);
}

#outer-box {
margin: 5px;
border: none;
/*background-color: #2e3440;*/
background-color: rgba(30, 30, 46, 0.6);
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
color: #cdd6f4;
} 

#entry:selected {
	background-color: #6c7086;
	background-image: #6c7086;
	font-weight: normal;
}

#text:selected {
	background-color: transparent;
	color: #cba6f7;
	font-weight: normal;
}
