* {
	font-family: "Ubuntu Nerd Font", "monospace";
	font-size: 12px;
}

window#waybar {
	background: rgba(30, 35, 38, 1.0);
	color: #d3c6aa;
}

tooltip {
	background: #2b3339; 
	border: 3px solid #1e2326; 
	border-radius: 6px;
}

tooltip label {
    color: #d3c6aa;
    font-size: 14px;
}

#custom-launcher,
#workspaces,
#window,
#custom-wttrbar,
#clock,
#custom-updates,
#cava
#mpd,
#custom-mpris
#memory,
#cpu,
#custom-wlsunset,
#idle_inhibitor,
#custom-audio_idle_inhibitor,
#pulseaudio,
#tray,
#custom-dunst,
#custom-power {
	padding: 0 0px;
	/* top, right, bottom, left */
	margin: 0px 4px 0px 4px; 
}

#custom-launcher {
	color: #a7c080;
	font-size:14px;
	margin: 0px 0px 2px 10px;
	padding: 0px 02px 0px 2px;
}

#workspaces {
	padding: 0px;
}

#workspaces button {
	color: #4b565c;
	background: #1e2326;
	border-radius: 0px;
	padding: 0px 0px;
	margin: 5px 0px;
}

#workspaces button.hidden {
	color: #d3c6aa;
}

#workspaces button.hidden.active {
	color: #9da9a0;
}

#workspaces button.active {
	color: #a7c080;
}

#workspaces button.urgent {
	color: #e67e80;
}

#workspaces button:hover {
	background: rgba(50, 60, 65, 0.40);
	color: #e69875;
}

#custom-layout {
	/*background: #6c7086;*/
	color: #e69875;
	background-color: #323c41;
	border: 2px solid transparent;
	border-radius: 6px;
	margin: 2px;
	padding: 0px 6px 0px 6px;
}

#window {
	color: #83c092;
	border-radius: 4px;
	padding: 2px 4px;
	margin: 0px 0px 2px 0px;
}

#custom-wttrbar {
	padding: 0px 02px 2px 2px;
}

#clock {
	color: #dbbc7f;
	font-family: "Digital Readout Thick Upright";
	font-size: 20px;
	background-color: #323c41;
	border: 2px solid transparent;
	border-radius: 5px;	
	margin: 3px;
	padding: 0px 0px 0px 2px;
}

#custom-updates {
	padding-right: 15px;
	color: #dbbc7f;
	padding: 0px 02px 2px 2px;
}

#custom-cava {
	color: #fab387;
	padding-right: 5px;
	letter-spacing: -4px;
	font-family: "JetBrainsMono Nerd Font";
	font-size: 10px;
	font-weight: 800;
}

#mpd {
	color: #d699b6;
	background-color: #455055;
	border: 1px solid #455055;
	margin: 5px;
	padding: 0px 10px;
	border-radius: 5px;
	padding: 0px 02px 2px 2px;
}

#custom-mpris {
	color: #d699b6;
	padding: 0px 02px 2px 2px;
	background-color: #323c41;
	border: 1px solid #323c41;
	margin: 5px;
	padding: 0px 10px;
	border-radius: 5px;
}

#memory {
	color: #7fbbb3;
	padding: 0px 02px 2px 2px;
}

#cpu {
	color: #e69875;
	margin-right: 10px;
	padding: 0px 02px 2px 2px;
}

#pulseaudio {
	color: #83c092;
	padding: 0px 02px 2px 2px;
}

#custom-wlsunset.on {
	color: #dbbc7f;
	font-size:15px;
	padding: 0px 02px 2px 2px;
}

#custom-wlsunset.off {
	color: #323c41;
	font-size:15px;
	padding: 0px 02px 2px 2px;
}

#idle_inhibitor.activated {
	color: #859289;
	padding: 0px 02px 2px 2px; 
}

#idle_inhibitor.deactivated {
	color: #dbbc7f;
	padding: 0px 02px 2px 2px;
}

#custom-audio_idle_inhibitor {
	color: #dbbc7f;
	padding: 0px 02px 2px 2px;
}

#tray {
	background-color: #323c41;
	border: 1px solid #323c41;
	margin: 5px;
	padding: 0px 10px;
	border-radius: 5px;
}

#custom-dunst {
	padding-right: 12;
	color: #dbbc7f;
	padding: 0px 02px 2px 2px;
}

#custom-power {
	color: #e67e80;
	margin-right: 10px;
	padding: 0px 02px 2px 2px;
}
