
/* Change default font */
:root {
    --encore-body-font-stack: "CaskaydiaCove Nerd Font Propo";
}

/* Remove weird window control padding from left */
#global-nav-bar .main-globalNav-historyButtonsContainer .Kgjmt7IX5samBYUpbkBu,
#global-nav-bar .OPsY6bKl1_FfA8jFpq1V {
    display: none !important;
}

/* Hide spicetify update button */
#global-nav-bar .main-globalNav-historyButtons
button[aria-label="Update Spicetify"][title="Update Spicetify"] {
    display: none;
}

/* Set transparent background but not setting it transparent on hover */
div.YourLibraryX button.main-useDropTarget-base:not(:hover) {
    background: transparent;
}

/* Remove annoying big "Create" span inside of the library bar */
div.YourLibraryX button[aria-label="Create"] > span.e-91000-text {
    display: none !important;
}

/* Remove paddings left for better view with "Create" label */
div.YourLibraryX button.main-useDropTarget-base {
    padding: 0;
}

article.TlMFkwANLJrFHUsnTOQf {
    display: none !important;
}
